body, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;

}

ol, ul, li {
  list-style: none;
}

a {
  outline: none;
  color: #16418a;
  text-decoration: none;
}

/* body {
  font-family: Arial,"微软雅黑";
  font-size: 12px;
  color: #434343;
}
.clear {
  clear: both;
  font-size: 0px;
}
ul,li {
  list-style: none;
}
img {
  border: none;
}
a {
  color: #555;
}
a:hover {
  color: #3366ff;
} */