body,html, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;

}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:link, a:active {
  outline: none;
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #64A5A7;
}
